.footer {
  background-color: #ffffff; /* Цвет фона */
  color: #fff; /* Цвет текста */
  padding: 20px; /* Поля внутри футера */
  text-align: center; /* Выравнивание текста по центру */
}

.social-links {
  margin-top: 10px; /* Отступ сверху для социальных ссылок */
}

.social-links a {
  color: #fff; /* Цвет иконок */
  font-size: 24px; /* Размер иконок */
  margin: 0 10px; /* Отступ между ссылками */
  text-decoration: none; /* Убираем подчеркивание */
}

.social-links a:hover {
  color: #ccc; /* Цвет иконок при наведении */
}