/* Фоновый цвет контейнера */
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f3fbfd; /* Светлый оттенок фона */
}

/* Фоновый цвет формы */
.col-md-3 {
  max-width: 350px;
  background-color: #e9ecef; /* Немного темнее оттенок фона */
}

/* Цвет текста Label */
label {
  color: #0077B6; /* Более темный оттенок текста */
}

/* Стили для input */
input[type="text"],
input[type="password"] {
  background-color: #ffffff; /* Белый фон внутри input */
  border: 1px solid #ced4da; /* Цвет границы input */
  color: #03045E; /* Более темный оттенок текста */
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: rgba(108, 117, 125, 0.5); /* Цвет placeholder текста с прозрачностью */
}


/*Стили для кнопки
.btn {
  background-color: #00B4D8;
  color: #ffffff;
  border: none;
  width: 100px;
  border-radius: 20px; 
  cursor: pointer;
}*/

/* Стили для кнопки при наведении
.btn:hover {
  background-color: #0077B6; /* Изменяем цвет кнопки при наведении 
}*/