.link-style {
  color: inherit;
  text-decoration: none;
}

.navigation-list {
  background-color: #f5dddd; /* задайте цвет фона по вашему усмотрению */
}

.navigation-list .nav-link {
  color: #000000; /* задайте цвет текста по вашему усмотрению */
}

.navigation-list .nav-link:hover {
  color: #ffffff; /* задайте цвет при наведении по вашему усмотрению */
}