.documents-container {
  max-width: 1000px;
  margin: 20px auto;
}

.documents-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.documents-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.documents-table {
  width: 100%;
  border-collapse: collapse;
}

.documents-table th, .documents-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.documents-table th {
  background-color: #f5f5f5;
}

.documents-table tbody tr:hover {
  background-color: #f0f0f0;
}

.documents-table td ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.documents-table td li {
  margin-bottom: 5px;
}

.documents-table td.align-right {
  text-align: right;
}

.documents-table td a {
  color: #333; /* Цвет текста ссылок в столбце "Название документа" */
  text-decoration: none; /* Убираем стандартное подчеркивание ссылок */
}

.documents-table td a:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении на ссылку */
}